name: Demo Workflow
on: workflow_dispatch
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get repository code
        uses: actions/checkout@v4
      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"     
      - name: Install requirements
        run: python -m pip install -r requirements.txt
      - name: Run Pytest
        run: pytest
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get repository code
        uses: actions/checkout@v4
      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"
      - name: Install requirements
        run: python -m pip install -r requirements.txt
      - name: Run Black
        run: black --check .
      - name: Run Isort
        run: black --check-only .    
        

